.background {
  background-color: #e4e4e4;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.adminText {
  font-size: 35px !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
}

tbody > tr > td {
  font-family: sans-serif;
}
tbody > tr > td > a {
  font-family: sans-serif;
}

.productsWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Date Input Calendar*/
.inputDateContainer {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 5px;
  margin: 0 2%;
  label {
    margin-bottom: 0;
  }
}
.dateInputs {
  display: flex;
  flex-direction: row;
}
