@import "../../../../node_modules//include-media/dist/include-media";

@import "../../../../node_modules//bootstrap/scss//bootstrap.scss";

@import "./../../../main.module.scss";

.relaxSpace {
  width: 100%;
  height: 250px;
  background-color: red;
  background-size: contain;
  overflow: hidden;
  background: url("./../../../media/assets//pics/blocks/background_Montan.jpg");

  display: flex;
  align-items: center;
  @include media("<tablet") {
    height: 188px;
  }
}
.cardobard {
  width: 100%;
  max-width: 588px;

  height: 130px;
  background-color: whitesmoke;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin: auto;
  padding: 29px;
  @include media(">=tablet", "<desktop") {
    padding: 4%;
  }

  @include media("<tablet") {
    max-width: 320px;
    height: 112px;
    padding: 2%;
  }
}
.cardobard {
  h3 {
    font-family: "Roboto";
    text-align: center;
    font-size: clamp(15px, 3.1vw, 18px);
  }
}

.iconStyle {
  width: 32px;
  aspect-ratio: 1/1;
}
.socialsTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  margin: 0 auto;
  a > img {
    margin: 8px;
  }
}

.inquiries {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  P {
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    margin: 0;
  }
}
