@import "./../../main.module.scss";
@import "./../../data/themes.scss";

@keyframes fadeIn {
  0% {
    top: 260px;
    opacity: 0;
  }
  20% {
    top: 160px;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cartCardboard {
  right: 20px;
  width: 370px;
  height: 253px;
  position: fixed;
  right: 0;
  top: 160px;
  background: #f6f6f6;
  border: 1px solid black;
  animation-name: fadeIn;
  animation-duration: 6s;
  padding: 0.7%;
  opacity: 0;

  @include media("<tablet") {
    width: 100vw;
    animation-duration: 3s;
  }
}
.cartIcon {
  width: 60px;
}
.cartLogoStyle {
  display: table;
  margin: auto;
}
.titleProduct {
  font-family: "Bebas Neue Regular";
  text-align: center;
  font-size: 2rem;
  color: #00ae00;
}
.confirmMessage {
  text-align: center;
  font-family: "Open Sans Regular", Georgia, Times, "Times New Roman", serif;
}

.actionCallOut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.chillButton {
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 26px;
  font-size: 1.3em;
  font-weight: 200;
}
.takeActionButton {
  background-color: #00ae00;
  color: white;
  outline: none;
  border: none;
  padding: 2px 16px;
  font-size: 1.3em;
}
.hashTransparent {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
