@import "./../../main.module.scss";
@import "./../../data/themes.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -100vw;
    @include media("<tablet") {
      left: 100vw;
    }
  }
  7% {
    opacity: 1;
    right: 0;
    @include media("<tablet") {
      left: 0vw;
    }
  }
  93% {
    opacity: 1;
    right: 0;
    @include media("<tablet") {
      left: 0vw;
    }
  }

  100% {
    opacity: 0;
    right: -100vw;
    @include media("<tablet") {
      left: 100vw;
    }
  }
}
.actionContainer {
  white-space: nowrap;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  right: 1px;
  bottom: 1px;
  margin-bottom: 5%;
  margin-right: 5%;
}
.finishButton {
  background-color: green;
  color: white;
  outline: none;
  border: none;
  font-weight: 300;
  font-family: "Roboto Medium", cursive;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cartCardboard {
  right: 20px;
  width: 400px;
  height: auto;
  position: fixed;
  right: 0;
  top: 110px;
  background: #ececec;
  z-index: 100;

  // display: none;
  animation-name: fadeIn;
  animation-duration: 6.2s;

  /*debug only*/
  // opacity: 1;
  // animation-name: none;
  // animation-duration: unset;
  // right: 0;
  @include media("<desktop") {
    width: 45vw;
  }
  @include media("<tablet") {
    width: 100vw;
    left: 0;
  }
}
.innerContainer {
  background-color: #f6f6f6;
  margin: 3%;
  font-size: 20px;
}
.cartIcon {
  width: 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productBasket {
  display: flex;
  flex-direction: row;
}
.cartLogoStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.starsContainerOuter {
  display: flex;
  justify-content: flex-start;
}
.productTitle {
  h2 {
    font-size: 1.2em;
    font-family: "Bebas Neue Regular", cursive;
    margin-bottom: 0;
    text-align: start;
  }
}
.titleProduct {
  font-family: "Bebas Neue Regular";
  text-align: start;
  font-size: 1em;
  color: #000000;
  width: -webkit-fill-available;
  h3 {
    margin-bottom: 0;
    font-size: 0.8em;
  }
}

.outerProductTitle {
  width: -webkit-fill-available;
  padding: 6% 4%;
  @include media(">=tablet", "<desktop") {
    padding: 2% 4% 14%;
  }
}
.confirmMessage {
  text-align: center;
  font-family: "Open Sans Regular", Georgia, Times, "Times New Roman", serif;
}

.actionCallOut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.chillButton {
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 26px;
  font-size: 1.3em;
  font-weight: 200;
}
.takeActionButton {
  background-color: #00ae00;
  color: white;
  outline: none;
  border: none;
  padding: 2px 16px;
  font-size: 1.3em;
}
.hashTransparent {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
