@import "./../../main.module.scss";
@import "./../../data//themes.scss";

.HashLinkStyle {
  @extend .col-md-3;
  color: map-get($map: $colors, $key: mainlyBlack);
  text-decoration: none !important;
  width: fit-content;
  &:hover {
    color: map-get($map: $colors, $key: mainlyBlack);
  }
}

.productRow {
  height: 60px;
}
.productItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  width: 450px;
  height: 105px;
  position: relative;
  padding: 0 17px;
  margin: auto;
  @include media(">=tablet", "<desktop") {
    max-width: 250px;
    width: calc(130px + 10vw);
  }
  @include media("<tablet") {
    width: calc(232px + 8.8vw);
    height: calc(369px + 7vw);
  }
}
.productItemSmall {
  @extend .productItem;
  width: 210px;
  height: 335px;
}
.productImage {
  max-width: 64px;
  cursor: pointer;
  height: 100%;
}
.productImage:hover {
  opacity: 0.8;
}
.productTitle {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 1.8em;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  margin-top: 10px;
  cursor: pointer;
  @include media("<tablet") {
    font-size: 4vw;
    line-height: clamp(10px, 4vw, 19px);
  }
}
.productPrice {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 50px;
  @include media("<tablet") {
    font-size: 3em;
  }
}
.actionButton {
  width: 130px;
  height: 50px;
  background-color: #00ac10;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media("<tablet") {
    width: min(5em, 17vw);
  }
}
.actionButton:hover {
  background-color: #39c948;
  color: black;
}
.actionButtonAlert {
  @extend .actionButton;
  width: 100px;
  background-color: #ac2200;
  &:hover {
    background-color: #c94839;
  }

  @include media("<tablet") {
    width: min(5em, 17vw);
  }
}
.textInside {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 20px;
  white-space: nowrap;
}

.textInside:hover {
  color: white;
}
a {
  text-decoration: none;
  color: initial;
  text-align: center;
}
.titleWrap {
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.imageWrap {
  height: 45%;
  position: relative;
  min-width: 50px;
}
.priceWrap {
  position: relative;
}
.addCartWrap {
  height: 30%;
  position: relative;
}
.actionAreaAdmin {
  display: flex;
  flex-direction: row;
}
