@import "./../../main.module.scss";
@import "./../../data//themes.scss";

.relatedContainer {
  height: 100%;
  min-height: 500px;
  width: 100%;
}
.titleProducts {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  font-family: "Roboto Regular";
}
.productHead {
  width: auto;
  margin: auto;
}

.productArea {
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding: 34px 0;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  align-items: center;
  flex-wrap: wrap;

  @include media("<tablet") {
    column-gap: 2%;
    row-gap: 10px;
  }
}
