@import "./../../main.module.scss";
@import "./../../data/themes.scss";

.padder {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sectionParent {
  @extend .row;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto !important;
}
.leftSection {
  @extend .col-md-6;
  display: flex;
  justify-content: center;
  padding: 0;

  @include media(">=tablet", "<desktop") {
    justify-content: center;
  }
}
.rightSection {
  @extend .col-md-6;
  display: flex;
  justify-content: center;
  width: 500px;
  flex-direction: column;

  @include media(">=tablet", "<desktop") {
    width: auto;
  }
}

.leftContainer {
  position: relative;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media("<tablet") {
    width: 100%;
  }
}

.rightContainer {
  position: relative;
  width: 100%;
  height: auto;
}
.imageContainer {
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
.imageActualContainer {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("<tablet") {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    padding: 0 8%;
  }
}
.productTitle {
  font-size: 3rem;
  text-align: center;
}
.reviewContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @include media(">=tablet", "<desktop") {
    justify-content: center;
  }
}
.shortDescription {
  font-size: 1.2rem;
  text-align: center;

  @include media("<tablet") {
    padding: 0 30px;
  }
}
.longDescription {
  font-family: "Open Sans Regular", Georgia, Times, "Times New Roman", serif;
  padding-left: 10px;
  line-height: 21px;
  padding: 10px 20px;
  text-align: center;

  @include media(">=tablet", "<desktop") {
    line-height: initial;
    padding: 10px 50px;
    border: 1px solid gray;
  }
}
.starsContainer {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  height: 26px;
}
.reviewStar {
  width: 25px;
  width: 25px;
}
.reviewHead {
  font-size: 20px;
  align-self: center;
  font-family: "Roboto";
}
.priceWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.productPrice {
  font-size: 3rem;
  color: #FF5F5F;
}
.actionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
}
.addToCart {
  background-color: #FF5F5F;
  color: white;
  outline: none;
  border-style: none;
  font-size: 1.6em;
  width: 250px;
  height: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover {
    background-color: rgb(73, 73, 73);
  }
}

.previewImageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  @include media("<tablet") {
    padding: 0 8%;
  }
}
.clickableImage {
  border: 2px solid rgba(30, 30, 30, 0.3);
  height: 130px;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 175px;
  &:hover {
    opacity: 1;
  }
}
.activeImage {
  @extend .clickableImage;
  opacity: 1;
  width: auto;
}
.innerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.noProductFoundContainer {
  margin: auto;
  outline: 2px solid black;
  width: 70vw;
  max-width: 1200px;
}
.warningHeadline {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}

.noProductWrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25%;
    aspect-ratio: 1/1;
  }
}
