@import "./../../main.module.scss";
@import "./../../data/themes.scss";

.CartSection {
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartLine {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px;
  width: clamp(30px, 17vw, 65px);
}

.topTitle {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-family: "Roboto Medium";
  align-items: center;
}
.finishOrder {
  font-family: "Roboto Medium";
  background-color: rgb(0, 170, 0);
  width: 204px;
  height: 40px;
  color: white;
  outline: none;
  border: none;
  display: table;
  margin: auto;
  &:hover {
    opacity: 0.8;
  }
}
.actualCartBox {
  width: 80%;
  max-width: 1242px;
  height: auto;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 27px;
  padding: 3% 4%;

  @include media("<tablet") {
    width: 100%;
  }
}
.topline {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.cartProductTitle {
  display: table;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}
.actualCheckout {
  @extend .row;
  width: 100%;
  height: auto;
  border: 1px solid gray;

  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media("<tablet") {
    padding: 0 3%;
  }
}
.checkoutTotal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto Medium";
}
.subtotalContainer {
  border: 1px solid gray;
  border-radius: 3px;
  min-width: 257px;
  max-width: 459px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include media("<tablet") {
    width: 100%;
    height: 400px;
  }
}
.subtotalLine {
  background-color: rgb(223, 222, 222);
  width: 100%;
  height: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.deliveryLine {
  width: 100%;
  height: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.totalLine {
  background-color: rgb(223, 222, 222);
  width: 100%;
  height: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.finishTheOrderBox {
  width: 100%;
  height: auto;
  display: table;
  margin: auto;
}

.toRight {
  text-align: end;
  align-items: center;
  font-family: "Roboto";
  margin-bottom: 0;
}
.subtotalStyle {
  font-family: "Roboto";
  margin-bottom: 0;
  font-weight: bolder;
}
.colCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteProductCart {
  outline: none;
  border: none;
}
.hashTransparent {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.middleCosText {
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.emptyCart {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: red;
  font-family: "Roboto Medium";
}
.bottomLeft {
  @extend .col-sm-6;
}
.bottomRight {
  @extend .col-sm-6;
  padding: 20px;
}

.innerAlign {
  display: flex;
  @extend .col-sm-4;
  align-items: center;
  justify-content: flex-end;
  @include media("<tablet") {
    justify-content: flex-start;
  }
}
.innerPrice {
  display: flex;
  @extend .col-sm-8;
  justify-content: flex-start;
  align-items: center;
  @include media("<tablet") {
    justify-content: flex-end;
  }
}
