@import "./../../main.module.scss";
@import "./../../data/themes.scss";

.FinishSection {
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 58px;
}
.cartLine {
  width: clamp(30px, 17vw, 65px);
  height: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px;
}
.methodPaymentCheck {
  margin: 0;
}
.textareaparticular {
  resize: none;
}
.infoBoxing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
  padding: 2% 4%;
  max-width: 560px;
  width: 80%;
  font-family: "Roboto Medium";
  img {
    width: 70px;
    height: 70px;
    @include media("<tablet") {
      width: 60px;
      height: 60px;
    }
  }
  h3 {
    margin-top: 20px;

    font-family: 20px;
    text-align: center;
  }
}
.topTitle {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: rgba(0, 0, 0, 0.4);
  align-items: center;
  @include media("<tablet") {
    padding: 20px 0;
  }
}
.hashTransparent {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.finishOrderContainer {
  @extend .row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1010px;
  padding: 0 35px;
  @include media("<desktop") {
    padding: 0 2%;
  }
  @include media("<tablet") {
    padding: 0 1%;
    flex-direction: column;
  }
}
.leftContainer {
  @extend .col-sm-12;
  @extend .col-lg-6;
  padding: 27px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 559px;
  @include media(">=tablet", "<desktop") {
    width: 80%;
    margin: auto;
  }
  @include media("<tablet") {
    width: 100%;
  }
}
.topBillText {
  @include media("<tablet") {
    text-align: center;
  }
}
.rightContainer {
  @extend .col-lg-6;
  @extend .col-sm-12;
  width: 422px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  @include media("<tablet") {
    width: 100%;
    padding: 5%;
  }
  @include media(">=tablet", "<desktop") {
    margin: auto;
    width: 80%;
    max-width: 559px;
    padding: 5%;
  }
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
  font-family: "Open Sans Regular";

  @include media("<tablet") {
    margin: 0px;
  }
}
.groupInput {
  display: flex;
  flex-direction: row;

  @include media("<tablet") {
    flex-direction: column;
    width: 87vw;
    display: table;
    margin: auto;
  }
}
input {
  font-family: "Open Sans Regular";
}
input[type="large"] {
  width: 100%;
  font-family: "Open Sans Regular";
}
label {
  font-family: "Open Sans Regular";
}
.alertAsterisk {
  font-weight: bolder;
  color: red;
}
.checkBoxStyle {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  margin-top: 10px;
}
.deliverOption {
  font-weight: bolder;
}

.checkboxTerms {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.optionalNote {
  margin-right: 10px;
}
.optionalFormStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productIconFinish {
  width: 50px;
  height: auto;
}
.itemLi {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: space-between;
  font-family: "Roboto Regular";
}
.itemUl {
  margin: 10px 0;
  padding: 0;

  width: 100%;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 2px dashed black;
}
.count {
  width: 20px;
}
.price {
  width: 20px;
  text-align: end;
}
.productSummarizeTitle {
  width: 268px;
  border-right: 1px solid gray;
}
.finishOrderTitle {
  text-align: center;
  white-space: nowrap;
  margin: 0;
}
.rightChild {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subTotal {
  font-weight: 200;
  font-size: 1.2em;
  text-align: end;
  font-family: "Roboto Regular";
  @include media("<tablet") {
    text-align: center;
    font-size: calc(16px + 2vw);
  }
}
.deliveryInfo {
  font-family: "Open Sans Regular";
  display: table;
  margin: auto;
}

.paymentContainer {
  width: 500px;
  height: 300px;
  padding: 20px;
}
.paymentShipContainer {
  @extend .col-12;
  display: flex;
  justify-content: center;
  border: 1px gray solid;
}
.deliveryCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.legendsTable {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 1.8rem;
}
.carShip {
  width: 50px;
  height: auto;
  display: table;
  margin: auto;
}
.VATincluded {
  font-family: "Open Sans Regular";
  color: green;
  text-align: end;
  font-weight: bolder;
}
.checkboxer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paymentDetails {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  flex-direction: row;
}
.GDPRNotify {
  font-family: "Open Sans Regular";
  color: black;
  font-size: 10px;
  font-weight: bolder;

  @include media("<tablet") {
    font-size: calc(9px + 0.5vw);
  }
}
.extensiveGdpr {
  @extend .GDPRNotify;
  color: red;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}
.acceptTerms {
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groupInputTerms {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.finishOrder {
  background-color: rgb(0, 153, 25);
  color: white;
  outline: none;
  border-style: none;
  font-size: 1.6em;
  width: 250px;
  height: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: table;
  margin: 3% auto 1.5%;
  &:hover {
    background-color: rgb(73, 73, 73);
  }
}
.warningOrderWrapper {
  @extend .col-12;

  @include media(">=tablet", "<desktop") {
    width: 60%;
    margin: 3% auto;
  }
}
.warningOrder {
  font-family: "Open Sans Regular";
  font-size: clamp(10px, 4.3vw, 20px);
}
.filledSpaceTCAlert {
  height: 50px;
}
.filledSpacePaymentMtd {
  height: 50px;
}
.termConditionAlert {
  color: red;
  font-size: 17px;
  margin: auto;
  text-align: center;
}

.emailSendStyle {
  font-weight: bolder;
  color: green;
  text-align: center;
}

input[type="checkbox"].orderFinishInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.radioButton {
  clip: rect(0 0 0 0);
  clip-path: inset(20%);
  height: 10px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 10px;
  border-radius: 50%;
}
input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(20%);
  height: 10px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 10px;
  border-radius: 50%;
}
