@import "./../main.module.scss";
@import "./../data//themes.scss";

.addSection {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    font-family: "Roboto";
  }
}
.wrapper {
  width: 900px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 77vw;
  max-width: 533px;

  textarea,
  span,
  input {
    font-family: "Roboto";
    resize: none;
  }
}

.submitButton {
  background-color: rgb(0, 0, 0) !important;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;

  margin: 20px;
  height: 50px;
  width: 200px;
}
textarea[type="reviewInput"] {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="credentialsInput"] {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.textarea {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
