@import './../main.module.scss';
@import './../data//themes.scss';

.blogsSection {
  width: 100%;
}
.blogPostsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;
  margin: auto;
  row-gap: 20px;
  column-gap: 20px;
  padding: 62px 10px;

  @include media('>=tablet', '<desktop') {
    width: 88vw;
  }

  @include media('<tablet') {
    width: 100vw;
  }
}
