@import './../main.module.scss';
@import './../data//themes.scss';

.container {
  background-color: map-get($map: $colors, $key: whitePure);
  width: 742px;
  height: 689px;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
  border: 1px solid map-get($map: $colors, $key: headColor);
  justify-content: space-between;

  @include media('>=phone', '<tablet') {
    width: 340px;
    height: 489px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  @include media('>=tablet', '<desktopSmall') {
    width: 502px;
    height: 723px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

input[type='email'] {
  width: 100%;
  height: 127px;
  font-size: 12px;
  border: 1px solid map-get($map: $colors, $key: headColor);

  &:focus {
    outline: none;
  }
}

input[type='textBooking'] {
  width: 628px;
  height: 30px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid map-get($map: $colors, $key: headColor);
  font-size: 1.1em;
  font-weight: 400;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  @include media('>=phone', '<tablet') {
    width: 300px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid map-get($map: $colors, $key: headColor);
    font-size: 1.1em;
    font-weight: 400;
    box-sizing: border-box;
    align-self: center;
    &:focus {
      outline: none;
    }
  }
  @include media('>=tablet', '<desktopSmall') {
    width: 446px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid map-get($map: $colors, $key: headColor);
    font-size: 1.1em;
    font-weight: 400;
    box-sizing: border-box;
    align-self: center;
    &:focus {
      outline: none;
    }
  }
}
input[type='textBookingError'] {
  width: 628px;
  height: 30px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid red;
  font-size: 1.1em;
  font-weight: 400;
  box-sizing: border-box;
  animation: shake 0.1s;
  &:focus {
    outline: none;
  }
  @keyframes shake {
    from {
      margin-left: 15px;
      margin-left: 9px;
    }
    to {
      margin-right: 15px;
      margin-right: 9px;
    }
  }
  @include media('>=phone', '<tablet') {
    width: 300px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid red;
    font-size: 1.1em;
    font-weight: 400;
    box-sizing: border-box;
    align-self: center;
    &:focus {
      outline: none;
    }
  }
  @include media('>=tablet', '<desktopSmall') {
    width: 446px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid red;
    font-size: 1.1em;
    font-weight: 400;
    box-sizing: border-box;
    align-self: center;
    &:focus {
      outline: none;
    }
  }
}

.closeImage {
  width: 20px;
  height: 20px;
  margin-right: -25px;
  cursor: pointer;
  align-self: flex-end;
  @include media('>=phone', '<tablet') {
    margin-right: 3px;
    margin-top: 10px;
  }
  @include media('>=tablet', '<desktopSmall') {
    margin-right: -15px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
}

.title {
  font-size: 40px;
  color: map-get($map: $colors, $key: welcomeHead);
  font-family: 'Sallenas Grande, Regular';
  @include media('>=phone', '<tablet') {
    font-size: 30px;
  }
  @include media('>=tablet', '<desktopSmall') {
    font-size: 44px;
  }
}

.input {
  font-size: 16px;

  border-bottom: 1px solid map-get($map: $colors, $key: headColor);
  @include media('>=phone', '<tablet') {
    font-size: 14px;
  }
  @include media('>=tablet', '<desktopSmall') {
    font-size: 20px;
  }
}

.error {
  color: map-get($map: $colors, $key: errorRed);

  animation: shake 0.1s;
  display: flex;
  @keyframes shake {
    from {
      margin-left: 15px;
      margin-left: 9px;
    }
    to {
      margin-right: 15px;
      margin-right: 9px;
    }
  }
}

.checkboxContainer {
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-self: flex-start;
  display: flex;
}

.detailsInput {
  width: 100%;
  height: 127px;
  font-size: 12px;
  border: 1px solid map-get($map: $colors, $key: headColor);

  @include media('>=phone', '<tablet') {
    display: none;
  }
  @include media('>=tablet', '<desktopSmall') {
    display: none;
  }
}

.checkInComp {
  height: 72px;
  width: 100%;
  box-shadow: 0px 3px 6px map-get($map: $colors, $key: chillGrayTransparent);
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  margin: 30px;
  @include media('>=phone', '<tablet') {
    height: 72px;
  }
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: map-get($map: $colors, $key: headColor);
  border-radius: 30px;
  border: none;
  height: 49px;
  width: 127px;
  color: map-get($map: $colors, $key: whitePure);
  margin-right: 30px;
  &:hover {
    background-color: map-get($map: $colors, $key: welcomeHead);
  }
  @include media('>=phone', '<tablet') {
    display: none;
  }
  @include media('>=tablet', '<desktopSmall') {
    display: none;
  }
}

.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: map-get($map: $colors, $key: headColor);
  border-radius: 30px;
  border: none;
  height: 49px;
  width: 127px;
  color: map-get($map: $colors, $key: whitePure);
  &:hover {
    background-color: map-get($map: $colors, $key: welcomeHead);
  }
  @include media('>=tablet', '<desktopSmall') {
    height: 57px;
    width: 150px;
  }
}

.buttonsText {
  color: map-get($map: $colors, $key: whiteSmokey);
  font-size: 14px;
  font-family: 'SallenasGrande Regular';

  @include media('>=phone', '<=tablet') {
    font-size: 1.1em;
  }
  @include media('>=tablet', '<=desktopSmall') {
    font-size: 1.1em;
  }
}

.buttonsContainer {
  flex-direction: row;
  display: flex;
}

.calendar {
  position: absolute;
  bottom: 525px;
  @include media('>=phone', '<=tablet') {
    top: 430px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    bottom: 430px;
  }
}

.calendarStyle {
  @include media('>=phone', '<=tablet') {
    font-size: 8px;
    margin-left: 100px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    margin-bottom: 65px;
  }
}

.textCheck {
  color: map-get($map: $colors, $key: welcomeHead);
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'SallenasGrande Regular';
  align-self: center;

  &:hover {
    font-weight: 500;
  }
  @include media('>=phone', '<tablet') {
    font-size: 11.5px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    font-size: 18px;
  }
}

.textCheckError {
  color: map-get($map: $colors, $key: errorRed);
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'SallenasGrande Regular';
  align-self: center;
  animation: shake 0.1s;

  &:hover {
    font-weight: 500;
  }
  @include media('>=phone', '<tablet') {
    font-size: 11.5px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    font-size: 18px;
  }
  @keyframes shake {
    from {
      margin-left: 15px;
      margin-left: 9px;
    }
    to {
      margin-right: 15px;
      margin-right: 9px;
    }
  }
}

.extenderWrapper {
  flex: 1.5 0 auto;
  width: 66.66666667%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  &:hover {
    filter: brightness(0.5);
  }
}

.topper {
  @extend .arrow;
  margin-top: 5px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.rightStyle {
  background-color: map-get($map: $colors, $key: chillGraySolid);
  opacity: 0.6;
  width: 2px;
  height: 55%;
  margin-left: 5%;
}

.centerer {
  flex: 1 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid map-get($map: $colors, $key: headColor);
  border-radius: 0px;
  @include media('>=tablet', '<=desktopSmall') {
    height: 17px;
    width: 17px;
  }
}

.control input:checked ~ .control_indicator {
  background: map-get($map: $colors, $key: headColor);
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: map-get($map: $colors, $key: headColor);
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;

  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}

.controlcheckbox .control_indicator:after {
  left: 2.5px;
  width: 2.5px;
  height: 5px;
  align-self: center;
  display: flex;
  border: solid map-get($map: $colors, $key: whitePure);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  @include media('>=tablet', '<=desktopSmall') {
    width: 5px;
    height: 10px;
  }
}

.checkBoxText {
  color: map-get($map: $colors, $key: welcomeHead);
  white-space: nowrap;
  align-self: center;
  display: flex;
  font-size: 12px;

  @include media('>=tablet', '<=desktopSmall') {
    font-size: 16px;
  }
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
  @include media('>=tablet', '<=desktopSmall') {
    height: 17px;
    width: 17px;
  }
}
