@import './../main.module.scss';

:root {
  --sliderOffset: 0px;
}
.carouselActual {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: 0.7s all;
}
.sidePanel {
  width: 278px;
  height: 70%;
  transition: 0.7s all;

  @include media('>=phone', '<tablet') {
    height: 62%;
  }
}

.carouselSpace {
  position: relative;
  width: 100%;
  height: 330px;
  transition: 0.7s all;
  padding: 1% 0%;
  display: flex;
  flex-direction: row;
  @include media('>=tablet', '<=desktopSmall') {
    align-items: center;
  }
  @include media('>=desktopSmall', '<=4080px') {
    height: 25vw;
  }
}

.item {
  width: 308px;
  height: 308px;

  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media('>=phone', '<tablet') {
    width: 82vw;
    height: 93%;
  }

  @include media('>=tablet', '<=desktopSmall') {
    width: 33vw;
    height: 26vw;
  }
  @include media('>=desktopSmall', '<=4080px') {
    width: 20.7vw;
    height: 90%;
  }
}

.moveMiddle {
  transition: all 0.5s;
  left: 400px;
}

.slipper {
  transition: 0.7s all;
  display: inherit;
  flex-direction: inherit;
  column-gap: 23px;

  @include media('>=phone', '<tablet') {
    column-gap: 2px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    column-gap: 7px;
  }
}
.sliderOffset {
  transition: 0.7s all;
  margin-left: var(--sliderOffset);
}

.oneSlide {
  margin-left: 1%;

  @include media('>=phone', '<tablet') {
    margin-left: -72%;
  }
}

.twoSlide {
  margin-left: -33%;
  @include media('>=phone', '<tablet') {
    margin-left: -154%;
  }
}

.threeSlide {
  margin-left: -67%;
  @include media('>=phone', '<tablet') {
    margin-left: -237%;
  }
}

.forthSlide {
  margin-left: -100%;
  @include media('>=phone', '<tablet') {
    margin-left: -320%;
  }
}
.fifthSlide {
  margin-left: -132%;
  @include media('>=phone', '<tablet') {
    margin-left: -402%;
  }
}
.sixthSlide {
  margin-left: -169%;
  @include media('>=phone', '<tablet') {
    margin-left: -484%;
  }
}

.itemPicture {
  width: 100%;
  height: auto;
  object-fit: cover;

  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 4%;
  transition: 0.1s all;
  outline: 0px solid #946501;
  outline-offset: -12px;
}

.focusItem {
  border-radius: 10px;
  transition: 0.4s all;
  padding: 0;
  outline: 3px solid #946501;
  outline-offset: 0px;
}

.hide {
  display: none;
  transition: 0.2s all;
}
.visible {
  opacity: 1;
}
