@import "./../main.module.scss";
@import "./../data//themes.scss";

.footerArea {
  @extend .container-fluid;

  display: flex;
  flex-direction: row;
}
.fluidHandler {
  max-width: 2000px;
  width: auto;
  display: table;
  margin: auto;
  @include media("<=1800px") {
    width: 100%;
  }
}
.infoBoxFooter {
  border: 1px solid rgb(158, 158, 158);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  @include media(">=tablet") {
    display: none;
  }
}
.clickText {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Bebas Neue Regular";
}
.arrowIcon {
  width: 10px;
  opacity: 0.7;
  margin-left: 3px;
  @include media(">=tablet") {
    display: none;
  }
}
.clickableBox {
  pointer-events: none;
  @include media("<tablet") {
    pointer-events: auto;
  }
}

.largeFooter {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 0px 10vw;
  --bs-gutter-x: 0;
  width: 100%;
  margin: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.showPop {
  @extend .container;
}
.hide {
  @include media("<tablet") {
    display: none;
  }
}

.footItem {
  padding: 3px 0;
  a {
    cursor: pointer;
    color: black;
  }
  a:hover {
    font-weight: 600;
  }
}
.footerTittleCenter {
  text-align: center;
}
.classicText {
  font-family: "Open Sans Regular", Georgia, Times, "Times New Roman", serif;
  margin-bottom: 4px;
  text-align: center;
}

.wideBanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: azure;
  @include media("<tablet") {
    height: 85px;
  }
}
.statementRO {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: calc(10px + 2vw);
  font-family: "Bebas Neue Regular";
  @include media(">desktop") {
    font-size: calc(2px + 1vw);
  }
}
.flagStyle {
  width: 50px;
  height: auto;
}
