@import "./../main.module.scss";
@import "./../data//themes.scss";

.banner {
  width: 100%;
  height: 100px;
  background-color: black;
}
.titleBanner {
  color: white;
  font-size: clamp(31px, 10vw, 40px);
}
