@import "./../main.module.scss";
@import "./../data//themes.scss";

.banner {
  width: 100%;
  height: 100px;
  background-color: black;
  @include media("<tablet") {
    height: 54px;
  }
}
.titleBanner {
  color: white;
  font-family: "Bebas Neue Regular" !important;
  font-size: clamp(31px, 10vw, 40px);
  margin-bottom: 0;
}
