@import './../main.module.scss';

.ItemContainer {
  display: table;
  margin: 0 auto;
  margin: 1.4vh auto;

  @include media('<tablet') {
    display: none;
  }
}

.headTextStyle {
  color: map-get($map: $colors, $key: mainlyBlack);
}
.headerDescription {
  font-weight: 400;
  color: map-get($map: $colors, $key: elementText);
}
