@import "./../main.module.scss";
@import "./../data/themes.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 70px;
  max-width: 1200px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);

  @include media("<tablet") {
    padding: 0 5%;
  }
}
.logoWrapper {
  grid-column: span 2;
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include flexCenter;

  img {
    height: 40px;

    @include media("<tablet") {
      width: 100%;
    }
  }
}

.menuItems {
  grid-column: span 8;
  outline: 2px solid black;
  @include media("<tablet") {
    display: none;
  }
}

.navItems {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0px;
  column-gap: 1%;
  height: 100%;
  padding-right: 6%;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 90px;
    white-space: nowrap;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.active {
  background-color: #ff8c33;
  border-radius: 15px;
  color: white;
  padding: 3px 11px;
}
