@import './../main.module.scss';
@import './../data//themes.scss';

.container {
  background-color: map-get($map: $colors, $key: whitePure);
  width: 1276px;
  height: 689px;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
  border: 1px solid map-get($map: $colors, $key: headColor);
  justify-content: space-between;

  @include media('>=phone', '<tablet') {
    width: 340px;
    height: 680px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  @include media('>=tablet', '<desktopSmall') {
    width: 630px;
    height: 774px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

.title {
  font-size: 40px;
  color: map-get($map: $colors, $key: welcomeHead);
  font-family: 'Sallenas Grande, Regular';
  @include media('>=phone', '<tablet') {
    font-size: 30px;
  }
  @include media('>=tablet', '<desktopSmall') {
    font-size: 44px;
  }
}

.closeImage {
  width: 20px;
  height: 20px;
  margin-right: -25px;
  cursor: pointer;
  align-self: flex-end;
  @include media('>=phone', '<tablet') {
    margin-right: 3px;
    margin-top: 10px;
  }
  @include media('>=tablet', '<desktopSmall') {
    margin-right: -15px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
}

.photoListContainer {
  display: flex;
  width: 1105px;
  height: 443px;
  border: 1px solid map-get($map: $colors, $key: headColor);
  border-radius: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  @include media('>=phone', '<tablet') {
    width: 305px;
    height: 482px;
  }
  @include media('>=tablet', '<desktopSmall') {
    width: 549px;
    height: 482px;
  }
}

.photoListContainer::-webkit-scrollbar {
  display: none;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: map-get($map: $colors, $key: headColor);
  border-radius: 30px;
  border: none;
  height: 49px;
  width: 127px;
  color: map-get($map: $colors, $key: whitePure);
  &:hover {
    background-color: map-get($map: $colors, $key: welcomeHead);
  }
}

.closeButtonText {
  color: map-get($map: $colors, $key: whiteSmokey);
  font-size: 14px;
  font-family: 'SallenasGrande Regular';

  @include media('>=phone', '<=tablet') {
    font-size: 1.1em;
  }
  @include media('>=tablet', '<=desktopSmall') {
    font-size: 1.1em;
  }
}

.image {
  padding: 13px;
  width: 180px;
  height: 180px;
  display: flex;
  margin-left: 3px;
  image-rendering: optimizeQuality;
  @include media('>=phone', '<=tablet') {
    width: 150px;
    height: 150px;
    margin-left: 1px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    margin-left: 2px;
  }
}

.openPhotoContainer {
  margin-top: 20px;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 6;
  animation: fadein 0.5s;
}

.openPhoto {
  width: auto;
  height: 650px;
  @include media('>=phone', '<=tablet') {
    margin-top: 150px;
    width: 316px;
    height: 316px;
  }
  @include media('>=tablet', '<=desktopSmall') {
    margin-top: 120px;
    width: 554px;
    height: 554px;
  }
}

.iconClick {
  height: 35px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    padding: 0%;
    filter: brightness(0.5);
  }

  @include media('>=phone', '<desktopSmall') {
    display: none;
  }
}
