@import "./../main.module.scss";
@import "./../data//themes.scss";

.HashLinkStyle {
  @extend .col-md-3;
  color: map-get($map: $colors, $key: mainlyBlack);
  text-decoration: none !important;
  width: auto;
  &:hover {
    color: map-get($map: $colors, $key: mainlyBlack);
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 250px;
  height: auto;
  min-height: 300px;
  position: relative;
  margin: 20px 15px;
  @include media("<tablet") {
    width: 162px;
    max-height: 400px;
    min-height: 286px;
    margin: 8px 10px;
  }
}
.productItemSmall {
  @extend .productItem;
  width: 210px;
  height: 335px;
}
.productImage {
  width: inherit;
  cursor: pointer;
  height: inherit;
}
.productImage:hover {
  opacity: 0.8;
}
.productTitle {
  font-family: "Open Sans Regular";
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
  font-weight: bolder;

  @include media("<tablet") {
    line-height: 29px;
  }
}
.productPrice {
  font-family: "Roboto Regular";
  font-weight: 600;
  font-size: 16px;
}
.addButtonCart {
  width: 130px;
  height: 50px;
  background-color: #ff5f5f;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.addButtonCart:hover {
  background-color: #ff5f5f;
  color: black;
}
.textInside {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 20px;
  white-space: nowrap;
}

.textInside:hover {
  color: white;
}
a {
  text-decoration: none;
  color: initial;
  text-align: center;
}
.titleWrap {
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
}
.imageWrap {
  position: relative;
  width: inherit;
  height: 223px;

  @include media("<tablet") {
    height: 162px;
  }
}
.priceWrap {
  position: relative;
  width: 100%;
  height: 18px;
}
.addCartWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
  width: 100%;
  height: 120px;
}

.discountWrap {
  width: 87px;
  height: 26px;
  background-color: #ec0000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}
.discountText {
  color: white;
  margin: 0;
  font-weight: 700;
}
