@import "./../main.module.scss";
@import "./../data//themes.scss";

.HashLinkStyle {
  @extend .col-md-3;
  color: map-get($map: $colors, $key: mainlyBlack);
  text-decoration: none !important;
  width: auto;
  &:hover {
    color: map-get($map: $colors, $key: mainlyBlack);
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  width: 201px;
  height: 340px;
  position: relative;

  margin: 10px 15px;
  @include media(">=tablet", "<desktop") {
    max-width: 250px;
    width: clamp(90px, 32vw, 175px);
  }
  @include media("<tablet") {
    width: clamp(170px, 30vw, 203px);
    padding: 5% 0;
    height: 305px;
  }
}
.productItemSmall {
  @extend .productItem;
  width: 210px;
  height: 335px;
  @include media("<tablet") {
    width: 181px;
    height: 290px;
  }
}
.productImage {
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.productImage:hover {
  opacity: 0.8;
}
.productTitle {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 1.8em;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
  font-size: clamp(18px, 5vw, 22px);

  @include media("<tablet") {
    line-height: 29px;
    font-size: clamp(24px, 3vw, 28px);
  }
}
.productPrice {
  font-family: "Roboto Regular";
  font-weight: 600;
  font-size: 16px;
}
.addButtonCart {
  width: 130px;
  height: 50px;
  background-color: #ff5f5f;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.addButtonCart:hover {
  background-color: #ff5f5f;
  color: black;
}

.textInside {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 20px;
  white-space: nowrap;
}

.textInside:hover {
  color: white;
}
a {
  text-decoration: none;
  color: initial;
  text-align: center;
}
.titleWrap {
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  @include media("<tablet") {
    height: 58px;
  }
}
.imageWrap {
  position: relative;
  padding: 20px;
  padding: 10px 15px 0px;
  height: 150px;
}
.priceWrap {
  position: relative;
}
.addCartWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
  width: 100%;
  height: 120px;
}

.addToCart {
  background-color: #00ac10;
  color: white;
  outline: none;
  border-style: none;
  font-size: 1.2em;
  width: 140px;
  height: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover {
    background-color: rgb(73, 73, 73);
  }
}
