@import "./../main.module.scss";
@import "./../data//themes.scss";

.HashLinkStyle {
  @extend .col-md-3;
  color: map-get($map: $colors, $key: mainlyBlack);
  text-decoration: none !important;
  width: auto;
  &:hover {
    color: map-get($map: $colors, $key: mainlyBlack);
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 240px;
  height: 415px;
  position: relative;

  margin: 10px 15px;
  @include media(">=tablet", "<desktop") {
    max-width: 250px;
    width: calc(130px + 10vw);
  }
  @include media("<tablet") {
    width: calc(232px + 8.8vw);
    height: calc(404px + 7vw);
  }
}
.productItemSmall {
  @extend .productItem;
  width: 210px;
  height: 335px;
}
.productImage {
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.productImage:hover {
  opacity: 0.8;
}
.productTitle {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 1.8em;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  margin-top: 10px;
  cursor: pointer;
  @include media("<tablet") {
    line-height: 29px;
  }
}
.productPrice {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 33px;
  @include media("<tablet") {
    font-size: 3em;
  }
}
.addButtonCart {
  width: 130px;
  height: 50px;
  background-color: #00ac10;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.addButtonCart:hover {
  background-color: #39c948;
  color: black;
}
.textInside {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 20px;
  white-space: nowrap;
}

.textInside:hover {
  color: white;
}
a {
  text-decoration: none;
  color: initial;
  text-align: center;
}
.titleWrap {
  position: relative;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.imageWrap {
  height: 45%;
  position: relative;
  padding: 20px;
}
.priceWrap {
  position: relative;
}
.addCartWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
  width: 100%;
  height: 120px;
}
