@import "./../main.module.scss";
@import "./../data//themes.scss";

.reviewContainer {
  page-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  column-count: 2;
  grid-column-gap: 15px;
  column-gap: 15px;
  width: clamp(300px, 73vw, 1056px);
  margin: auto;
  background-color: white;
  padding: 1%;

  @include media("<tablet") {
    column-count: 1;
    width: 100vw;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
.contain {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 30px 0px;
  margin-top: 20px;
  background-image: url("./../media/assets/pics/blocks/background_Montan.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 50%),
    url("./../media/assets/pics/blocks/background_Montan.jpg");
}
