@import "./../../../main.module.scss";
@import "./../../../data//themes.scss";

.saveButton {
  border: none;
  outline: none;
  background-color: green;
  color: white;
  font-size: 1em;
  padding: 1% 5%;
  border-radius: 5px;
  min-width: 110px;
  &:hover {
    cursor: pointer;
  }
}
.saveButtonInactive {
  @extend .saveButton;
  background-color: grey;
  &:hover {
    cursor: auto;
  }
}
.refreshButton {
  @extend .saveButton;
  background-color: red;
}

.actionWrap {
  margin: 2% 0px;
  width: fit-content;
  outline: 2px solid black;
  display: flex;
  justify-content: flex-start;
  column-gap: 5%;
  padding: 1% 3%;
}
