@import './../main.module.scss';

.blockContainer {
  width: 100%;
  height: auto;
  background-color: map-get($map: $colors, $key: whitePure);

  @include media('>=phone', '<desktopSmall') {
    width: 100vw;
    overflow: hidden;
  }
}

.innerContainer {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
