.helloAll {
  width: 100%;
  height: 505px;
  background-image: url("./../media/assets/pics/blocks/background_Montan.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featuredMessage {
  margin: auto;
  h3 {
    font-size: 6em;
    color: black;
  }
}
