@import "../../node_modules/include-media/dist/include-media";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../main.module.scss";
* {
  font-family: "Bebas Neue Regular", cursive;
}

.pageContainer {
  overflow-x: hidden;
}
.backDrops {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
}
.closePop {
  @include media("<800px") {
    right: 10vw;
    height: 30px;
    width: 30px;
    background-color: #3dab00;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    z-index: 1000;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
