@import "./../../main.module.scss";

.cookiePopper {
  position: fixed;
  width: 90vw;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  bottom: 20px;
  transform: translate(-50%);
  left: 50%;
  border-radius: 2px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @include media("<800px") {
    flex-direction: column;
  }
  border: #000000 2px solid;
  p {
    color: #0c0c0c;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    a {
      border-bottom: none;
      color: inherit;
    }
    @include media("<tablet") {
      line-height: 13px;
      font-size: 11px;
    }
  }
  img {
    margin: 5px;
  }
  h4 {
    color: #00ac10;
    text-align: start;
    font-weight: bold;
    @include media("<tablet") {
      font-size: 1em;
    }
  }
  a {
    color: unset;
  }

  button {
    background-color: #00ac10;
    border-radius: 2px;
    width: 200px;
    height: 56px;
    color: white;
    outline: none;
    border: none;

    @include media("<tablet") {
      height: 34px;
      width: 120px;
    }
  }
  .acceptWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  .textArea {
    margin: 0 5px;
  }
  p,
  p > a {
    font-family: "Roboto";
  }
  a {
    border-bottom: 2px solid black;
  }
}

.cookieIcon {
  width: 34px;
  height: 34px;
  @include media("<tablet") {
    width: 20px;
    aspect-ratio: 1/1;
    height: unset;
  }
}
