@import "./../../main.module.scss";
@import "./../../data//themes.scss";

.blogItem {
  @extend .col-4;
  width: 100%;
  max-width: 484px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: table;
  margin: auto;
  padding: 0;
  @include media(">=tablet", "<desktop") {
    width: 80%;
    margin: 10px 0;
    max-width: 484px;
  }
  @include media("<tablet") {
    width: calc(143px + 53vw);
  }
}

.HashLinkStyle {
  color: map-get($map: $colors, $key: mainlyBlack);

  text-decoration: none;
  &:hover {
    color: map-get($map: $colors, $key: mainlyBlack);
  }
}
.hashTransparent {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.topPart {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}
.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    background: rgba(100, 100, 111, 0.5);
    transition: height 0.5s ease-out;
  }
  &:hover:before {
    height: 100%;
  }
}
.titlePost {
  display: table;
  margin: auto;
  cursor: pointer;
  font-family: "Roboto";
  font-size: clamp(17px, 4vw, 20px);
  margin-top: 2%;
}

.bottomPart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.readMore {
  display: table;
  margin: auto;
  font-size: clamp(19px, 3vw, 22px);
  cursor: pointer;
}
.previewPost {
  padding: 5px 20px;

  p {
    font-family: "Roboto", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    margin-bottom: 0;
    line-height: 17px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: clamp(10px, 3.7vw, 15px);
  }
}
