@import "./../main.module.scss";

.centerTextTitle {
  text-align: center;
  font-family: "Roboto Medium";
  @include media("<tablet") {
    font-size: 14px;
  }
}
.robotoMedium {
  font-family: "Roboto Medium" !important;
}
.bebasMedium {
  font-family: "Bebas Neue" !important;
}
.middleSubtext {
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  font-family: "Roboto Medium";
}
.robotoLight {
  font-family: "Roboto Light";
  font-weight: 600;
}
.textSpaceMargins {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 980px;
  font-family: "Roboto Medium";
  margin: auto;
  @include media("<800px") {
    max-width: 500px;
  }

  p {
    line-height: 18px;
    text-indent: 50px;
    font-family: "Roboto Light";
    font-weight: 600;
  }
  strong,
  b {
    font-family: "Roboto Medium";
  }
  .justTextAlignCenter {
    text-align: center;
  }
  a {
    font-family: "Roboto Medium";
  }
}
.centerImageMedium {
  display: table;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
}
.spacerPadder50 {
  width: 100%;
  height: 50px;
}
.spacerPadder100 {
  width: 100%;
  height: 100px;
}
.spacerPadder200 {
  width: 100%;
  height: 200px;
}

.spacerPadder300 {
  width: 100%;
  height: 300px;
}
.termsUl {
  li {
    font-family: "Roboto Medium";
  }
}
.lefter {
  text-align: start;
  font-family: "Roboto Medium";
}
.rightIndent {
  margin-left: 5%;
}

//block content area

.blogContent {
  font-family: "Roboto Medium";
  b,
  strong,
  p,
  h1,
  h2,
  h3,
  h4 {
    font-family: "Roboto Medium";
  }

  .imageCenterMedium {
    width: 100px;
  }
}
.randNou {
  text-indent: 50px;
}
